{% extends 'blog/base.html' %}
    {% block content %}
        <div>
            <h2 style="color:darkslategray">Title: {{ post.title }}</h2>
        </div>   
        <div>
                <p><i>Published: {{ post.created_date }}</i></p>
                <p>{{ post.text|linebreaksbr }}</p>
        </div>
        {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil">Edit</span></a>
        {% endif %}
        <a href="/">Back</a>
    {% endblock %}